extends layout

block content
    body
        .navbar.navbar-default.navbar-fixed-top
            .container
                .navbar-header
                    a.navbar-brand(href='/') Site Navigation
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                #navbar-main.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href='/login/') Login Page
                        li
                            a(href='/listEdit/') List Editor
    .row.page-header
        .col-lg-12
            h1 Assignment 3 List Page
            h3 Please refer to the following list of notes:
    .row
        .col-xs-12.col-md-6
        p
            | Listing 1
            | <br /><br />
            | Listing 2
            | <br /><br />
            | Listing 3
            | <br /><br />
            | Listing 4
            | <br /><br />
            | Listing 5
            | <br /><br />
            | Listing 6
            | <br /><br />
            | Listing 7
            | <br /><br />
            | Listing 8
            | <br /><br />
            | Listing 9
            | <br /><br />
            | Listing 10
            | <br /><br />
    .row
        .col-xs-12.col-md-6
            .form-group
            button.btn.btn-default.pull-right Add a New List
        .col-xs-12.col-md-4