extends layout

block content
    .row.page-header
        .col-lg-12
            h1 Assignment 3 List Page
            h3 Please refer to the following list of notes:
    .row
        .col-xs-12.col-md-6
        p
            | Listing 1
            | <br /><br />
            | Listing 2
            | <br /><br />
            | Listing 3
            | <br /><br />
            | Listing 4
            | <br /><br />
            | Listing 5
            | <br /><br />
            | Listing 6
            | <br /><br />
            | Listing 7
            | <br /><br />
            | Listing 8
            | <br /><br />
            | Listing 9
            | <br /><br />
            | Listing 10
            | <br /><br />